<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#decrease').on('click', function () {
                let currentNum = parseInt($('#countNum').text()) - 1;
                updateNum(currentNum);
            });

            $('#increase').on('click', function () {
                let currentNum = parseInt($('#countNum').text()) + 1;
                updateNum(currentNum);
            });

            function updateNum(num) {
                $.ajax({
                    url: '/updateNum',
                    type: 'POST',
                    data: {num: num}
                })
                    .done(function (response) {
                        $('#countNum').text(response);
                        console.log(response);
                    })
                    .fail(function (xhr, status, error) {
                        console.error('숫자 업데이트 중 오류 발생:', error);
                    });
            }
        });
    </script>
</head>
<body>
<div th:replace="~{nav.html::navbar}"/>
<div class="detail">
    <h4>상세페이지</h4>
    <img src="https://placehold.co/300">
    <h4 th:text="${title}"></h4>
    가격: <span th:text="${price}"></span><br/>
    판매자명 : <span th:text="${username}"></span><br/><br/>

    <div th:if="${#authentication.principal.username == username}">
        <a th:href="@{'/modification/' + ${id}}">수정하기</a>
        <br/>
        <button id="deleteBtn">삭제</button>
    </div>
    <div>
        <button id="decrease">-</button>
        <span id="countNum" th:text="${defaultNum}">1</span>
        <button id="increase">+</button>

        <br/>
        <a th:href="@{'/sales/' + ${id}}">구매하기</a>
    </div>
    <br/><br/>

    <form action="/comment" method="POST">
        <input type="hidden" name="ItemId" th:value="${id}">
        <input type="text" name="comment">
        <button type="submit">전송</button>
    </form>
    <div th:if="${comments} != null">
        <div th:each="comment : ${comments}">
            작성자 : <span th:text="${comment.username}"></span>
            내용 : <span th:text="${comment.comment}"></span>
        </div>
    </div>
</div>
</div>

<script th:inline="javascript">  //html 파일 로드시 1회 실행
var id = [[${id}]];

window.onload = function () {

    const deleteBtn = document.getElementById('deleteBtn');

    deleteBtn.addEventListener('click', function () {
        fetch(`/detail/${id}`, {
            method: "DELETE"
        })
            .then(r => r.text())
            .then(() => {
                window.location.href = "/list";
            })
    });
};
</script>

</body>
</html>

