<!--th:fragment문법으로 navbar를 하나의 컴포넌트화
다른 html파일에서 th:replace="~nav.html::navbar"을 통해 불러오기 가능-->
<div class="nav" th:fragment="navbar">

    <div sec:authorize="isAuthenticated()">
        <a class="logo" href="/main">SpringMall</a>
    </div>

    <div sec:authorize="isAnonymous()">
        <a class="logo" href="/">SpringMall</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a href="/list">List</a>
        <a href="/addition">Add-Item</a>
    </div>

    <div sec:authorize="isAnonymous()">
        <a href="/login"></a>
    </div><!--로그아웃 한 유저만 보여줌-->

    <div sec:authorize="isAuthenticated()">
        <a href="/logout">로그아웃</a>
    </div>
</div>