<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Sales</h2>

    상품명 : <span th:text="${sales.itemName}"></span>
    구매 개수 : <span th:text="${sales.count}"></span>
    판매자명 : <span th:text="${sales.seller}"></span>
    결제 가격 : <span th:text="${sales.price}"></span>
</body>
</html>